<div class="container">
  <div class="row">
    <div class="col-md col-sm-12">
      <div class="tooltip-a alert alert-primary col-md col-sm-12" *ngIf="btnB===true" role="alert">
        To click B
      </div>
      <button type="button" (blur)="setButtonState(null)" (click)="setButtonState(true)" class='btn btn-primary col-md col-sm-12' >Button B</button>
    </div>
    <div class="col-md col-sm-12">
      <div class="tooltip-b alert alert-primary col-md col-sm-12" role="alert" *ngIf="btnB===false">
        Or not to click B
      </div>
      <button type="button" (blur)="setButtonState(null)" (click)="setButtonState(false)" class="btn btn-primary col-md col-sm-12">Button A</button>
    </div>
  </div>
</div>